/* CSS styles for the video player */
:root {
    --profile-size: 130px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 16px;
    overflow-x: hidden;
}

h1 {
    /* margin-top: var(--profile-size); */
    margin: 30px auto;
}

video,
img,
.video-list {
    font-size: 0;
    width: 100%;
    height: auto;
    border: none;
    display: block;
    background-color: transparent;
}

.video-list {
    overflow-x: hidden;
}

.header {
    width: 200%;
}

.profile {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    width: var(--profile-size);
    border-radius: 50%;
    border: 3px solid black;
}

.notPlaying {
    opacity: 0.8;
}

.playing {
    opacity: 1;
}
